* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos nas dimensões totais dos elementos */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: #e7e2e2;
    padding: 60px;
    display: flex; /* Adiciona flexbox para centralizar o conteúdo - mostrar os itens alinhados */
    flex-direction: column; /* Organiza os itens em uma coluna */
    align-items: center; /* Centraliza os itens centro na direita esquerda etc */
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #fafafa;
}

span {
    color: #11f543;
    font-weight: bolder;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #999999;
    text-align: center;
    max-width: 600px;
}

textarea {
    resize: none;
    width: 100%; 
    /*// Ajusta a largura para preencher o contêiner */
    max-width: 640px;
     /* Define uma largura máxima para evitar que o textarea fique muito grande em telas maiores, para ficar ajustado nas telas menores */
    padding: 10px; /* Adiciona um pouco de preenchimento interno para melhorar a aparência */
    margin-top: 20px;
    border: 1px solid #27272a;
    border-radius: 5px;
    background-color: #141419;
    color: #fafafa;
} 

button{
    margin-top: 20px; /* Adiciona um espaço acima do botão */
    max-width: 640px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #11f543;
    color: #1e1e1e;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s; /* Adiciona uma transição suave para as mudanças de estilo */
}
button:hover {
    background-color: #2ee700;
    transform: scale(1.05); /* Aumenta o tamanho do botão em 5% ao passar o mouse */

}@media (max-width: 600px)  { /* Estilos para telas menores que 600px */
    body {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        max-width: 100%;
    }

    textarea {
        width: 100%;
        max-width: 640px;
    }
}

.txt {
    text-align: center;
    display: flex;
    font-size: 1rem;
    color: #868383;

}


.card-codigo{
    width: 100%;
    max-width: 640px;
    overflow-x: auto;
}

.card-resultado{

    width: 100%;
    max-width: 640px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
}

.hidden {
    display: none;
}

.bloco-codigo {
    counter-reset: linha;
    overflow-x: auto;
}

.bloco-codigo code {
    display: block;
    overflow-x: auto;
}

.bloco-codigo code span {
    display: block;
    counter-increment: linha;
    overflow-x: auto;
}

.bloco-codigo code span::before {
    content: counter(linha);
    display: inline-block;
    width: 30px;
    margin-right: 15px;
    color: #64748b;
}

.bloco-codigo pre {
    margin: 0;
    white-space: pre;
}

.bloco-codigo {
    background: #141419;
    border: 1px solid #27272a;
    border-radius: 12px;
    padding: 16px;
    max-width: 600px;
    font-size: 14px;
    color: #34d399;
    line-height: 2;
    font-family: 'Courier New', Courier, monospace;

    height: 350px;        /* 🔥 TAMANHO FIXO */
    max-height: 350px;    /* garante que não cresce */

    overflow-y: auto;     /* scroll vertical */
    overflow-x: auto;     /* scroll horizontal */

}

.bloco-codigo::-webkit-scrollbar {
    width: 8px;
}

.bloco-codigo::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
}

.bloco-codigo::-webkit-scrollbar-thumb:hover {
    background: #475569;
}

.resultado-codigo {
    width: 100%;
    height: 100%;
    min-height: 350px;
    border: 1px solid #27272a;
    border-radius: 12px;
    background: #141419;
}
